stages:
  - init-status
  - sync
  - trigger_pipeline
  - build
  - test
  - packaging
  - code_quality
  - deploy
  - QoS_tools
  - on-failure
  - finalize-status
  - benchmark-build
  - benchmark-cuda
  - benchmark-omp
  - benchmark-reference

include:
  - local: '.gitlab/image.yml'
  - local: '.gitlab/rules.yml'
  - local: '.gitlab/scripts.yml'
  - local: '.gitlab/variables.yml'
  # This is a workaround to conditionally make the branch pipelines
  # interruptible, because the flag does not directly support rules [1].
  #
  # [1] https://gitlab.com/gitlab-org/gitlab/-/issues/194023#note_1225906002
  - local: '.gitlab/add-interrupt.yml'
    rules:
      - if: $CI_COMMIT_BRANCH != "master" && $CI_COMMIT_BRANCH != "develop" && $CI_COMMIT_TAG !~ /^v\d+\.\d+\.\d+/

sync:
  stage: sync
  extends:
    - .default_variables
    - .before_script_git_template
    - .use_status-job-settings
  variables:
    GIT_STRATEGY: none
    PRIVATE_REPO: git@gitlab.com:ginkgo-project/ginkgo.git
    PUBLIC_REPO: git@github.com:ginkgo-project/ginkgo.git
  script:
    - git clone ${PRIVATE_REPO} -b ${CI_COMMIT_REF_NAME} repo_sync
    - cd repo_sync
    - git pull --ff-only ${PUBLIC_REPO} ${CI_COMMIT_REF_NAME}
    - git push ${PRIVATE_REPO} ${CI_COMMIT_REF_NAME}
    - git push ${PUBLIC_REPO} ${CI_COMMIT_REF_NAME}
  only:
    - master
    - develop

trigger_pipeline:
  stage: trigger_pipeline
  extends:
    - .default_variables
    - .pr_trigger_condition
    - .use_status-job-settings
  variables:
    STATUS_CONTEXT: "quick"
  script:
    - PR_ID=$(curl -s "https://api.github.com/search/issues?q=sha:${CI_COMMIT_SHA}"
      | jq '.items[0].number')
    - |
      if [[ "${PR_ID}" != "null" ]]; then
        echo "Finding the corresponding Pull Request - ${PR_ID}"
        echo "Checking whether the PR contains 1:ST:ready-to-merge, 1:ST:run-full-test, or 1:ST:skip-full-test labels"
        PR_CONTENT=$(curl -X GET -s -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${BOT_STATUS_TOKEN}" \
          "https://api.github.com/repos/ginkgo-project/ginkgo/issues/${PR_ID}")
        SKIP_FULL_PIPELINE=$(echo "${PR_CONTENT}" | jq -r 'any( [.labels | .[] | .name ] | .[] ; . == "1:ST:skip-full-test")')
        ENABLE_FULL_PIPELINE=$(echo "${PR_CONTENT}" | jq -r \
          'any( [.labels | .[] | .name ] | .[] ; . == "1:ST:ready-to-merge" or . == "1:ST:run-full-test")')
        if [[ "${SKIP_FULL_PIPELINE}" == "true" ]]; then
          echo "Skipping the full pipeline and making the full pipeline succeed"
          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${BOT_STATUS_TOKEN}" \
            https://api.github.com/repos/ginkgo-project/ginkgo/statuses/${CI_COMMIT_SHA} \
            -d "{\"state\":\"success\",\"context\":\"ci/gitlab/gitlab.com/trigger_pipeline\",\"target_url\":\"${CI_JOB_URL}\",\"description\":\"skipped full pipeline\"}"
          echo "If you want to run the full tests, remove 1:ST:skip-full-test and add 1:ST:ready-to-merge or 1:ST:run-full-test to the pull request. Then rerun this job or start a new pipeline."
        elif [[ "${ENABLE_FULL_PIPELINE}" == "true" ]]; then
          echo "Running full pipeline."
          curl -X POST -F token=${CI_JOB_TOKEN} -F "ref=${CI_COMMIT_REF_NAME}" -F "variables[STATUS_CONTEXT]=full" \
            https://gitlab.com/api/v4/projects/6431537/trigger/pipeline
          echo "If want to skip full pipeline, add 1:ST:skip-full-test. Rerun this job or start a new pipeline."
        else
          echo "Didn't find required labels, so we're making the full pipeline fail."
          curl -X POST -H "Accept: application/vnd.github.v3+json" -H "Authorization: token ${BOT_STATUS_TOKEN}" \
            https://api.github.com/repos/ginkgo-project/ginkgo/statuses/${CI_COMMIT_SHA} \
            -d "{\"state\":\"failure\",\"context\":\"ci/gitlab/gitlab.com/trigger_pipeline\",\"target_url\":\"${CI_JOB_URL}\",\"description\":\"no run/skip full pipeline\"}"
          echo "To skip the full pipeline for this pull request, rerun this job or start a new pipeline after adding the label 1:ST:skip-full-test."
          echo "To run the full pipeline for this pull request, rerun this job or start a new pipeline after adding one of the 1:ST:run-full-test or 1:ST:ready-to-merge labels."
        fi
      else
        echo "Can not find the corresponding Pull Request"
      fi

packaging/spack/trigger:
  extends:
    - .package_test_condition
  stage: packaging
  image: alpine:latest
  tags:
    - private_ci
  script:
    - echo "GINKGO_SPACK_BRANCH=${GINKGO_SPACK_BRANCH:=develop}" >> build.env
  artifacts:
    reports:
      dotenv: build.env

packaging/spack/rocm:
  extends:
    - .spack_build_template
    - .package_test_condition
  image:
    name: ecpe4s/e4s-base-rocm:24.11
    entrypoint: [""]
  tags:
    - private_ci
    - nla-gpu
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "@develop +rocm amdgpu_target=gfx90a +openmp +mpi generator=ninja"
  needs:
    - packaging/spack/trigger

packaging/spack/cuda:
  extends:
    - .spack_build_template
    - .package_test_condition
  image:
    name: ecpe4s/e4s-base-cuda:24.11
    entrypoint: [""]
  tags:
    - private_ci
    - nvidia-gpu
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "@develop +cuda cuda_arch=80 +openmp +mpi generator=ninja"
  needs:
    - packaging/spack/trigger

packaging/spack/sycl:
  extends:
    - .spack_build_template
    - .package_test_condition
  image:
    name: ecpe4s/e4s-base-oneapi:24.11
    entrypoint: [""]
  tags:
    - intel-gpus
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "@develop +sycl +openmp +mpi generator=ninja %oneapi"
  needs:
    - packaging/spack/trigger

# Job with important warnings as error
warnings:
  stage: code_quality
  extends:
    - .build_template
    - .default_variables
    - .full_test_condition
    - .use_gko-rocm514-nompi-gnu11-llvm11
  variables:
    BUILD_OMP: "ON"
    CXX_FLAGS: "-Werror=pedantic -pedantic-errors"
  allow_failure: yes

# Ensure kernel modules do not depend on core
no-circular-deps:
  stage: code_quality
  extends:
    - .build_template
    - .default_variables
    - .full_test_condition
    - .use_gko-rocm514-nompi-gnu11-llvm11
  variables:
    BUILD_OMP: "ON"
    EXTRA_CMAKE_FLAGS: '-DGINKGO_CHECK_CIRCULAR_DEPS=on'
  allow_failure: no

# Ensure Ginkgo builds from a subdirectory
subdir-build:
  stage: code_quality
  extends:
    - .build_template
    - .default_variables
    - .full_test_condition
    - .use_gko-nocuda-nompi-gnu9-llvm8
  variables:
    BUILD_OMP: "ON"
    CI_PROJECT_PATH_SUFFIX: "/test_subdir"
  allow_failure: no

# Run clang-tidy and iwyu
clang-tidy:
  stage: code_quality
  extends:
    - .build_template
    - .default_variables
    - .full_test_condition
    - .use_gko-rocm514-nompi-gnu11-llvm11
  variables:
    BUILD_OMP: "ON"
    EXTRA_CMAKE_FLAGS: '-DGINKGO_WITH_CLANG_TIDY=ON'
  allow_failure: yes

iwyu:
  stage: code_quality
  extends:
    - .build_template
    - .default_variables
    - .full_test_condition
    - .use_gko-rocm514-nompi-gnu11-llvm11
  variables:
    BUILD_OMP: "ON"
    EXTRA_CMAKE_FLAGS: '-DGINKGO_WITH_IWYU=ON'
  allow_failure: yes

# Code analysis, coverage and reporting tool
# For short living branches or PRs, try to detect an open PR
sonarqube_cov_:
  stage: code_quality
  extends:
    - .default_variables
    - .full_test_short_lived_condition
    - .before_script_template
    - .use_gko_cuda114-openmpi-gnu10-llvm12
  tags:
    - private_ci
    - controller
    - cpu
    - nla-gpu
  script:
    - PR_ID=$(curl -s "https://api.github.com/search/issues?q=sha:${CI_COMMIT_SHA}"
      | jq '.items[0].number')
    - if [[ "${PR_ID}" != "null" ]]; then
        target_branch=$(curl -s
          "https://api.github.com/repos/ginkgo-project/ginkgo/pulls/${PR_ID}" | jq
          '.base.ref' | sed 's/"//g');
        sonar_branching="-Dsonar.pullrequest.branch=${CI_COMMIT_REF_NAME}
          -Dsonar.pullrequest.base=${target_branch}
          -Dsonar.pullrequest.key=${PR_ID}";
      else
        sonar_branching="-Dsonar.branch.name=${CI_COMMIT_REF_NAME}
        -Dsonar.branch.target=develop";
      fi
    - ctest -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=COVERAGE
      -DGINKGO_SONARQUBE_TEST=ON
    - sonar-scanner -Dsonar.token=${SONARQUBE_LOGIN}
      -Dsonar.projectKey="ginkgo-project_ginkgo"
      -Dsonar.organization="ginkgo-project"
      -Dsonar.host.url="https://sonarcloud.io"
      -Dsonar.cfamily.build-wrapper-output=build/bw-output
      -Dsonar.cfamily.gcov.reportsPath=build/Testing/CoverageInfo
      ${sonar_branching}
    - bash <(curl -s https://codecov.io/bash) -f "\!*examples*" -f "\!*third_party*" -f "\!*c\\+\\+*" -f "\!*benchmark*"

# For long living branches, do not detect the PR. A PR would always be detected
# (the one that was merged).
sonarqube_cov:
  stage: code_quality
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_template
    - .use_gko_cuda114-openmpi-gnu10-llvm12
  tags:
    - private_ci
    - controller
    - cpu
    - nla-gpu
  script:
    - ctest -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=COVERAGE
      -DGINKGO_SONARQUBE_TEST=ON
    - sonar-scanner -Dsonar.token=${SONARQUBE_LOGIN}
      -Dsonar.projectKey="ginkgo-project_ginkgo"
      -Dsonar.organization="ginkgo-project"
      -Dsonar.host.url="https://sonarcloud.io"
      -Dsonar.cfamily.build-wrapper-output=build/bw-output
      -Dsonar.cfamily.gcov.reportsPath=build/Testing/CoverageInfo
      -Dsonar.branch.name=${CI_COMMIT_REF_NAME}
    - bash <(curl -s https://codecov.io/bash) -f "\!*examples*" -f "\!*third_party*" -f "\!*c\\+\\+*" -f "\!*benchmark*"


# Deploy documentation to github-pages
gh-pages:
  stage: deploy
  interruptible: false
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_git_template
    - .use_status-job-settings
  variables:
    PUBLIC_REPO: git@github.com:ginkgo-project/ginkgo-generated-documentation.git
  script:
    # build docs
    - mkdir -p ${CI_JOB_NAME} && pushd ${CI_JOB_NAME}
    - cmake ${CI_PROJECT_DIR}
        -DCMAKE_CXX_COMPILER=${CXX_COMPILER}
        -DCMAKE_CUDA_COMPILER=${CUDA_COMPILER} -DCMAKE_BUILD_TYPE=${BUILD_TYPE}
        -DBUILD_SHARED_LIBS=ON ${EXTRA_CMAKE_FLAGS} -DGINKGO_DEVEL_TOOLS=OFF
        -DGINKGO_BUILD_REFERENCE=OFF -DGINKGO_BUILD_OMP=OFF -DGINKGO_BUILD_CUDA=OFF
        -DGINKGO_BUILD_HIP=OFF -DGINKGO_BUILD_SYCL=OFF -DGINKGO_BUILD_MPI=OFF
        -DGINKGO_BUILD_TESTS=OFF -DGINKGO_BUILD_EXAMPLES=OFF
        -DGINKGO_BUILD_DOC=ON -DGINKGO_DOC_GENERATE_PDF=ON
    - make usr
    - make pdf
    - popd
    # publish it
    - git clone ${PUBLIC_REPO} -b gh-pages gh-pages-repo
    - rm -rf gh-pages-repo/doc/${CI_COMMIT_REF_NAME}
    - mkdir -p gh-pages-repo/doc
    - mkdir -p gh-pages-repo/doc/pdf
    - cp -r ${CI_JOB_NAME}/doc/usr gh-pages-repo/doc/${CI_COMMIT_REF_NAME}
    - cp ${CI_JOB_NAME}/doc/pdf.pdf gh-pages-repo/doc/pdf/${CI_COMMIT_REF_NAME}.pdf
    - export CURRENT_SHA="$(git rev-parse --short HEAD)"
    - cd gh-pages-repo
    - git add -A
    - git diff --quiet HEAD ||
      (git commit -m "Update documentation from ginkgo-project/ginkgo@${CURRENT_SHA}" && git push)
  dependencies: null
  needs: []


threadsanitizer:
  stage: QoS_tools
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_template
    - .use_gko-rocm514-nompi-gnu11-llvm11
    - .disable_job_condition
  script:
    - LD_PRELOAD=/usr/local/lib/libomp.so
      CC=clang CXX=clang++
        ctest -V -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=TSAN
        -DCTEST_MEMORYCHECK_TYPE=ThreadSanitizer
        -DCTEST_MEMORYCHECK_SANITIZER_OPTIONS=ignore_noninstrumented_modules=1
        --timeout 6000

leaksanitizer:
  stage: QoS_tools
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_template
    - .use_gko-rocm514-nompi-gnu11-llvm11
  script:
    - ctest -V -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=LSAN
      -DCTEST_MEMORYCHECK_TYPE=LeakSanitizer

addresssanitizer:
  stage: QoS_tools
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_template
    - .use_gko-rocm514-nompi-gnu11-llvm11
  script:
    - ctest -V -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=ASAN
      -DCTEST_MEMORYCHECK_TYPE=AddressSanitizer

undefinedsanitizer:
  stage: QoS_tools
  extends:
    - .default_variables
    - .deploy_condition
    - .before_script_template
    - .use_gko-rocm514-nompi-gnu11-llvm11
  script:
    # the Gold linker is required because of a linker flag issues given by UBsan
    # in the Ubuntu setup we are using.
    - ctest -V -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=UBSAN
      -DCTEST_MEMORYCHECK_TYPE=UndefinedBehaviorSanitizer

cudamemcheck:
  stage: QoS_tools
  extends:
    - .before_script_template
    - .default_variables
    - .deploy_condition
    - .use_gko_cuda110-mvapich-gnu9-llvm9
  script:
    - ctest -V -S cmake/CTestScript.cmake -DCTEST_BUILD_CONFIGURATION=RelWithDebInfo
      -DCTEST_MEMORYCHECK_TYPE=CudaMemcheck

new-issue-on-failure:
  stage: on-failure
  interruptible: false
  extends:
    - .default_variables
    - .use_status-job-settings
  script: curl --request POST "https://gitlab.com/api/v4/projects/${PROJECT_ID}/issues?private_token=${BOT_ACCESS_TOKEN}&title=Error%20in%20${CI_PROJECT_NAME}%20with%20pipeline%20${CI_PIPELINE_ID}%20for%20commit%20${CI_COMMIT_SHA}&labels&description=${CI_PIPELINE_URL}"
  when: on_failure
  only:
    refs:
      - develop
      - master
  dependencies: []


## Benchmark SpMV
benchmark-cuda-spmv-build:
  extends:
    - .build_template
    - .default_variables
    - .use_gko_cuda114-openmpi-gnu10-llvm12
    - .benchmark-spmv-cuda-rules
    - .disable_job_condition
  stage: benchmark-build
  variables:
    BUILD_OMP: "ON"
    BUILD_CUDA: "ON"
    BUILD_MPI: "ON"
    MPI_AS_ROOT: "ON"
    BUILD_HIP: "OFF"
    BUILD_TYPE: "Release"
    CUDA_ARCH: 80
    USE_NAME: "benchmark-cuda-spmv-${CI_PIPELINE_ID}"
    KEEP_CONTAINER: "ON"
    USE_SLURM: 0


# The name must be of the same as above without `-build`
benchmark-cuda-spmv:
  extends:
    - .benchmark_template
    - .default_variables
    - .use_gko_cuda114-openmpi-gnu10-llvm12
    - .benchmark-spmv-cuda-rules
    - .disable_job_condition
  stage: benchmark-cuda
  variables:
    BENCHMARK_REPO: git@github.com:ginkgo-project/ginkgo-data.git
    USE_NAME: "benchmark-cuda-spmv-${CI_PIPELINE_ID}"
    SLURM_PARTITION: "accelerated"
    SLURM_GRES: "gpu:1"
    SLURM_EXCLUSIVE: "ON"
    SLURM_TIME: "4:00:00"
    BENCHMARK: "spmv"
    EXECUTOR: "cuda"
    SYSTEM_NAME: "A100"
  dependencies: null
  needs: [ "benchmark-cuda-spmv-build" ]
