stages:
  - packaging

include:
  - local: '.gitlab/image.yml'
  - local: '.gitlab/rules.yml'
  - local: '.gitlab/scripts.yml'
  - local: '.gitlab/variables.yml'
  # This is a workaround to conditionally make the branch pipelines
  # interruptible, because the flag does not directly support rules [1].
  #
  # [1] https://gitlab.com/gitlab-org/gitlab/-/issues/194023#note_1225906002
  - local: '.gitlab/add-interrupt.yml'
    rules:
      - if: $CI_COMMIT_BRANCH != "master" && $CI_COMMIT_BRANCH != "develop" && $CI_COMMIT_TAG !~ /^v\d+\.\d+\.\d+/

packaging/spack/trigger:
  extends:
    - .package_trigger_condition
  stage: packaging
  image: ubuntu:latest
  tags:
    - status-jobs
  variables:
    GIT_STRATEGY: none
    INPUT_SPACK_BRANCH: develop
    INPUT_GINKGO_VERSION: develop
  script:
    - echo "SPACK_BRANCH=${INPUT_SPACK_BRANCH}" >> build.env
    - echo "GINKGO_VERSION=${INPUT_GINKGO_VERSION}" >> build.env
  artifacts:
    reports:
      dotenv: build.env

packaging/spack/rocm:
  extends:
    - .spack_build_template
    - .package_test_condition
    - .use_tum-amd
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "+rocm amdgpu_target=gfx90a +openmp +mpi generator=ninja"
  needs:
    - packaging/spack/trigger

packaging/spack/cuda:
  extends:
    - .spack_build_template
    - .package_test_condition
    - .use_tum-nvidia
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "+cuda cuda_arch=80 +openmp +mpi generator=ninja"
  needs:
    - packaging/spack/trigger

packaging/spack/sycl:
  extends:
    - .spack_build_template
    - .package_test_condition
    - .use_tum-intel
  variables:
    GIT_STRATEGY: none
    GINKGO_SPEC: "+sycl +openmp +mpi generator=ninja %oneapi"
  needs:
    - packaging/spack/trigger
