on:
  pull_request_target:
    types: [opened]

name: OnNewPR
jobs:
  label:
    runs-on: ubuntu-latest
    if: github.event.pull_request.author_association == 'COLLABORATOR' || github.event.pull_request.author_association == 'MEMBER' || github.event.pull_request.author_association == 'OWNER'
    steps:
      - name: Checkout the latest code
        uses: actions/checkout@v2
        with:
          ref: develop
          fetch-depth: 0
      - name: Add appropriate labels
        env:
          GITHUB_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: .github/label.sh
