name: Intel-build

on:
  push:
    branches:
      - 'master'
      - 'develop'
      - 'release/**'
    tags:
      - '**'
  pull_request:
    types: [opened,synchronize]

concurrency:
  group: ${{ github.workflow }}-${{ (github.head_ref && github.ref) || github.run_id }}
  cancel-in-progress: true

jobs:
  intel:
    strategy:
      fail-fast: false
      matrix:
        config:
        - {compiler: "dpcpp", build_type: "Release", name: "intel/dpcpp/release/shared", mixed: "ON"}
        - {compiler: "icpx", build_type: "Release", name: "intel/icpx/release/shared", mixed: "OFF"}
    name: ${{ matrix.config.name }}
    runs-on: [gpu_intel]

    steps:
    - name: Checkout the latest code (shallow clone)
      uses: actions/checkout@v4
    # We set -fsycl-default-sub-group-size=16 to avoid the A770 hanging issue.
    # The default configuration makes that A770 hangs during running the kernel without specifying sub-group size
    - name: configure
      run: |
        source /etc/profile
        module load intel-oneapi-compilers intel-oneapi-dpl intel-oneapi-mkl cmake ninja
        mkdir build
        cd build
        cmake .. -GNinja -DCMAKE_INSTALL_PREFIX=install_ginkgo -DCMAKE_CXX_FLAGS="-Wpedantic -ffp-model=precise -fsycl-default-sub-group-size=16 -Wno-unused-command-line-argument -Wno-deprecated" -DCMAKE_CXX_COMPILER=${{ matrix.config.compiler }} -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} -DGINKGO_MIXED_PRECISION=${{ matrix.config.mixed }} -DGINKGO_BUILD_CUDA=OFF -DGINKGO_BUILD_HIP=OFF -DGINKGO_BUILD_MPI=OFF -DGINKGO_DPCPP_SINGLE_MODE=ON
        ninja dpcpp/test/base/executor -j2
        ONEAPI_DEVICE_SELECTOR=level_zero:gpu dpcpp/test/base/executor
 
    - name: install
      run: |
        source /etc/profile
        module load intel-oneapi-compilers intel-oneapi-dpl intel-oneapi-mkl cmake
        cd build
        SYCL_DEVICE_FILTER=level_zero:gpu make install
        export GINKGO_PATH="$(pwd)/install_ginkgo/lib"
        export LIBRARY_PATH=${ICL_INTEL_TBB_ROOT}/lib64:${GINKGO_PATH}:$LIBRARY_PATH
        export LD_LIBRARY_PATH=${ICL_INTEL_TBB_ROOT}/lib64:${GINKGO_PATH}:$LD_LIBRARY_PATH
        SYCL_DEVICE_FILTER=level_zero:gpu make test_install
