name: Windows-Cygwin

on:
  push:
  workflow_dispatch:
    inputs:
      debug_enabled:
        description: 'Run the build with tmate debugging enabled (https://github.com/marketplace/actions/debugging-with-tmate)'
        required: false
        default: false

jobs:
  windows_cygwin:
    strategy:
      fail-fast: false
      matrix:
        config:
        - {shared: "OFF", build_type: "Release", name: "omp/release/static", cflags: ""}
    name: cygwin/${{ matrix.config.name }}
    runs-on: [windows-latest]
    steps:
    - run: git config --global core.autocrlf input
    - uses: actions/checkout@v2

    - name: setup
      run: |
        choco install cygwin -y
        choco install cyg-get -y
        cyg-get cmake make gcc-g++ git

    - name: Debug over SSH (tmate)
      uses: mxschmitt/action-tmate@v3.5
      if: ${{ github.event_name == 'workflow_dispatch' && github.event.inputs.debug_enabled }}
      with:
        limit-access-to-actor: true

    - name: configure
      run: |
        path C:\tools\cygwin\bin;%GITHUB_WORKSPACE%\build\windows_shared_library
        mkdir build
        cd build
        bash -c "cmake -DBUILD_SHARED_LIBS=${{ matrix.config.shared }} -DCMAKE_BUILD_TYPE=${{ matrix.config.build_type }} -DGINKGO_COMPILER_FLAGS=${{ matrix.config.cflags }} .."
        bash -c "make -j4"
        bash -c "ctest . --output-on-failure"
      shell: cmd

    - name: install
      run: |
        path C:\tools\cygwin\bin
        cd build
        bash -c "make install"
        bash -c "export PATH=/usr/local/bin:$PATH && make test_install"
      shell: cmd
